<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} "/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{header::header}"></header>
<div class="container my-5">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-stretch">
                <img th:src="${agency.image}" class="img-fluid rounded-start w-100 h-100" alt="Property Image" style="object-fit: cover;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title" th:text="${agency.agencyName}"></h3>
                    <p class="card-text">
                        <strong th:text="#{id.id}">ID:</strong> <span th:text="${agency.agencyID}"></span>
                    </p>
                    <p class="card-text">
                        <strong th:text="#{address}">Address:</strong> <span th:text="${agency.address}"></span>
                    </p>
                    <p class="card-text">
                        <strong th:text="#{city}">City:</strong> <span th:text="${agency.city}"></span>
                    </p>
                    <p class="card-text">
                        <strong th:text="#{contactInfo}">Contact Info:</strong> <span th:text="${agency.contactInfo}"></span>
                    </p>
                    <h5 class="mt-4" th:text="#{text}">Agents</h5>
                    <ul>
                        <li class="list-group-item" th:each="agent : ${agency.agents}">
                            <a th:href="@{/agents/{id}(id=${agent.agentID})}" th:text="${agent.agentName}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <a th:href="@{/agencies}" class="btn btn-primary" th:text="#{agency.back}">Back to Agencies</a>
</div>
<footer th:insert="~{footer::footer}"></footer>
</body>
</html>